@media only screen and (min-width: 500px) {
  .title1 {
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 400px;
    -webkit-text-stroke: 8px rgba(8, 77, 78, 0.991);
    writing-mode: vertical-rl;
    text-orientation: upright;
    /* line-height: 50%; */
    /* position: absolute; */
    /* margin-left: 100px; */
  }

  .subtitle {
    width: 100vw;
    /* height: 400px; */
    justify-content: center;
    display: flex;
    align-items: center;
    /* margin-top: 1200px; */
  }

  .textbox {
    width: 380px;
    font-size: 100px;
    -webkit-text-stroke: 3px white;
    /* background-color: red; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1000px;
  }

  .rect {
    height: 1200px;
    width: 100%;
    padding-top: 100px;
  }

  .media:after {
    content: " 500px < width < 1000px";
  }

  .gridbox {
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid {
    width: 100%;
    height: 2000px;
    /* background-color: rgb(222, 211, 172); */
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(15, 1fr);
    /* align-items: center;
    justify-content: center; */
  }

  .a {
    /* grid-column: 1; */
    /* width: 8em; */
    /* height: 6em; */
    background-color: black;
  }

  .a:hover {
    /* background-color: goldenrod; */
    width: 300px;
  }

  .b {
    /* width: 6em;
    height: 6em; */
    background-color: transparent;
  }
}

@media only screen and (min-width: 1000px) {
  .textbox {
    width: 800px;
    font-size: 150px;
    -webkit-text-stroke: 5px white;
    /* background-color: rgb(93, 0, 255); */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1000px;
  }

  .title1 {
    font-size: 500px;
    -webkit-text-stroke: 8px rgba(8, 77, 78, 0.991);
    writing-mode: horizontal-tb;
    text-orientation: upright;
    /* position: absolute; */
    margin-left: 100px;
    display: flex;
  }

  .rect {
    height: 1200px;
    width: 800px;
    padding-top: 100px;
  }

  .grid {
    width: 75vw;
  }
  .a .b {
    height: 400px;
  }
  .media:after {
    content: " 1200px < width < 1500px";
  }
}
