* {
  font-family: "BIZ UDMincho", serif;
  /* filter: invert(100%); */
}

.title1 {
  font-size: 500px;
  text-align: center;
  color: rgb(220, 220, 220);
  -webkit-text-stroke: 8px rgba(8, 77, 78, 0.991);
  display: flex;
  justify-content: center;
  position: flex;
  z-index: 3;
  /* background-color: transparent; */
  border: none;
}

.subtitle {
  width: 100%;
  justify-content: center;
  display: flex;
  /* z-index: 2; */
  /* background-color: transparent; */
  align-items: center;
  /* background-color:blue; */
}

.textbox {
  width: 800px;
  font-size: 150px;
  -webkit-text-stroke: 5px white;
  /* background-color: transparent; */
  /* border: 2px red solid; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1000px;
}

body {
  cursor: url(/img/rect.svg), auto;
  font-family: "BIZ UDMincho", serif;
  /* background-color: blueviolet; */
}

.cursor {
  /* cursor: url(/img/rect.svg), auto; */
  cursor: none;
  /* width: 50px;
  height: 50px; */
  /* border: 5px solid black; */
  background-color: black;
  /* border-radius: 50%; */
  position: absolute;
  transform: translate(-50%, -50%);
  /* transition-duration: 100ms; */
  /* transition-timing-function: ease-out; */
}

.container {
  /* background-color: teal; */
  display: flex;
  height: 2000px;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.rect {
  background: #614909;
  height: 1200px;
  width: 800px;
  /* background-color: goldenrod; */
  border: 6px red;
  padding-top: 100px;
}

.gridbox {
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  width: 50%;
  height: 2000px;
  /* background-color: rgb(222, 211, 172); */
  display: grid;
  grid-template: repeat(16, 1fr) / repeat(15, 1fr);
  /* align-items: center;
  justify-content: center; */
}

.a {
  /* grid-column: 1; */
  /* width: 8em; */
  /* height: 6em; */
  background-color: black;
}

.a:hover {
  background-color: darkorange;
}

.b:hover{
  background-color: darkorange;
}

.b {
  /* width: 6em;
  height: 6em; */
  background-color: transparent;
}

.GX500050 {
  font-size: 600px;
  /* border: 2px gold solid; */
  -webkit-text-stroke: 8px rgb(2, 74, 74);
  color: rgb(220, 220, 220);
  transform: rotate(90deg);
  background-color: transparent;
}

.dark-mode {
  /* background-color: black; */
  /* filter: invert(100%); */
  /* background-color:  */
  background-image: radial-gradient(
      circle at center,
      black 0.25rem,
      transparent 0
    ), radial-gradient(circle at center, black 0.25rem, transparent 0);
  background-size: 1.3rem 1.3rem;
  background-position: 0 0, 0.65rem 0.65rem;  

  


}

button {
  /* width: 100vw;
  height: 100vh; */
  background-color: transparent;
  border: 2px solid red;
  z-index: 3;
}

html gridbox:not([data-scroll="500"]) {
    filter: invert(100%);
    /* background-color: black; */
}


.halftone {
  background-image: radial-gradient(
      circle at center,
      black 0.25rem,
      transparent 0
    ), radial-gradient(circle at center, black 0.25rem, transparent 0);
  background-size: 1.3rem 1.3rem;
  background-position: 0 0, 0.65rem 0.65rem;
}

/* 
@media only screen and (min-width: 1000px) {
  * {
    filter:invert(100%);

  }

  body {
    background-color: black;
  }
  
  .media:after {
    content: ' 1000px < width < 1200px';
  }
} */
