* {
  cursor: url(/img/rect.svg), auto;
  font-family: "BIZ UDMincho", serif;
  /* filter: invert(100%); */
}

.title1 {
  font-size: 500px;
  text-align: center;
  color: rgb(220, 220, 220);
  -webkit-text-stroke: 8px rgba(8, 77, 78, 0.991);
  display: flex;
  justify-content: center;
  position: flex;
  z-index: 3;
  border: none;
}

/* .title1:hover {
  font-size: 200px;

} */

.subtitle {
  width: 100%;
  justify-content: center;
  display: flex;
  /* z-index: 2; */
  /* background-color: transparent; */
  align-items: center;
  /* background-color:blue; */
}

.textbox {
  width: 800px;
  font-size: 150px;
  -webkit-text-stroke: 5px white;
  /* background-color: transparent; */
  /* border: 2px red solid; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1000px;
  z-index: 2;
}

body {
  /* cursor: url(/img/rect.svg), auto; */
  font-family: "BIZ UDMincho", serif;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background-size: 100% 100%;
  background-color: #da9d1bf4;
  animation: bg-color 30s infinite;
  /* animation: gradient 10s ease infinite; */
  backdrop-filter: opacity(10%);
  /* filter: invert(100%); */
}

/* @keyframes bg-color { 
  0% { background-color: #e9e1e0; }
  20% { background-color: #c6afac; }
  40% { background-color: #643001; }
  60% { background-color: #BD7938; }
  80% { background-color: #3A1C00; }
  100% { background-color: #e9e1e0; }
} */

.cursor {
  /* cursor: url(/img/rect.svg), auto; */
  cursor: none;
  /* width: 50px;
  height: 50px; */
  /* border: 5px solid black; */
  background-color: black;
  /* border-radius: 50%; */
  /* position: absolute; */
  transform: translate(-50%, -50%);
  /* transition-duration: 50ms; */
  /* transition-timing-function: ease-out; */
}

.container {
  /* background-color: teal; */
  display: flex;
  height: 2000px;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.rect {
  background: rgb(28, 1, 71);
  /* opacity: 0.70; */
  height: 1200px;
  width: 800px;
  border: 6px red;
  padding-top: 100px;
}

.rect:hover {
  background-image: radial-gradient(
      circle at center,
      black 0.25rem,
      transparent 0
    ),
    radial-gradient(circle at center, black 0.4rem, transparent 0.5);
  background-size: 1.3rem 1.3rem;
  background-position: 0 0, 0.65rem 0.65rem;
}

.GX500050container {
  /* background-color: teal; */
  display: flex;
  height: 1500px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

.GX500050 {
  font-size: 600px;
  /* border: 2px gold solid; */
  -webkit-text-stroke: 8px rgb(2, 74, 74);
  color: rgb(220, 220, 220);
  transform: rotate(90deg);
  /* background-color: blue; */
}
/* 
.GX500050:hover {
  font-size: 200px;
} */

.gridbox {
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  width: 75%;
  height: 2000px;
  /* background-color: rgb(222, 211, 172); */
  display: grid;
  grid-template: repeat(20, 1fr) / repeat(15, 1fr);
  /* align-items: center;
  justify-content: center; */
}

.a {
  /* grid-column: 1; */
  /* width: 8em; */
  /* height: 6em; */
  background-color: black;
}

.a:hover {
  background-color: #da9d1bf4;
  width: 300px;
}

.b {
  /* width: 6em;
  height: 6em; */
  background-color: transparent;
}

.b:hover {
  /* background-color: black; */
  background-color: #da9d1bf4;
  width: 300px;
}

.halftone {
  background-image: radial-gradient(
      circle at center,
      black 0.25rem,
      transparent 0
    ),
    radial-gradient(circle at center, black 0.25rem, transparent 0);
  background-size: 1.3rem 1.3rem;
  background-position: 0 0, 0.65rem 0.65rem;
}

.dark {
  filter: invert(1);
  background-color: #101010;
  color: blue;
}

/* @media only screen and (min-width: 0px) {
  .textbox {
    width: 800px;
    font-size: 80px;
    -webkit-text-stroke: 5px white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1000px;
  }

  .title1 {
    font-size: 300px;
    -webkit-text-stroke: 8px rgba(8, 77, 78, 0.991);

  }
  .media:after {
    content: ' 0px < width < 1200px';
  }
} */

/* @media only screen and (min-width: 1200px) {
  .textbox {
    width: 800px;
    font-size: 150px;
    -webkit-text-stroke: 5px white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1000px;
  }

  .title1 {
    font-size: 500px;
  }

  .grid {
    width: 100vw;
  }
  .media:after {
    content: ' 1200px < width < 1500px';
  }
} */
